/* Shared tweaks to style form widgets when using widget_tweaks */
.rounded-2xl { border-radius: 1rem; }
.rounded-md { border-radius: .375rem; }

select, select option {
  color: #1f2937 !important;  
  background-color: #ffffff !important;
}