{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
  </head>

  <body class="flex flex-col min-h-screen bg-gradient-to-b from-[#002B4F] to-[#0069C0] text-white">
    {% include 'navbar.html' %}

    <main class="flex-grow">
      {% block content %}{% endblock content %}
    </main>

    {% include 'toast.html' %}
    {% include 'modal.html' %}
    {% include 'footer.html' %}
    
    {% block scripts %}{% endblock scripts %}
  </body>
</html>

<!-- base backgroundnya gradien biru tua ke biru muda -->